.header {
  background-color: #08033e;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.link {
  color: white;
  margin: 0 12px;
  text-decoration: none;
}

.link:hover {
  color: #ffd54f;
}

.shelf {
  color: white;
  font-weight: bold;
}